/.venv
/airport.csv
/datapreprocessing_cleaning.ipynb
/gld_price_data.csv
/Gold+Price+Prediction+using+ANN.ipynb
/linearRegression.ipynb
/logistic_regression.ipynb
/LSTM.ipynb
/maplotlibplots.ipynb
/MSFT.csv
/my_chart.png
/numpy.ipynb
/pandas.ipynb
/Placement_Data_Full_Class.csv
/pythonlabops.ipynb
/saved_data.npy
/Seaborn.ipynb
/sjh.py
/__pycache__